body {
    font-family: Ariel,Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #777;
    background:#777;
    Width:960px;
    font-size:18px;
    margin: auto;

}header {

    background-color: lightsteelblue;
    height:65px;
    padding-top: 40px;

}

nav {
    background-color: rgb(6, 204, 22);
    height:65px;
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

section {
    float: left;

}


/* Made a div element in order to create a section block */

div {
    /* background-color: black; */
    color:black;
    float:left;
    height: 300px;
    width: 100%;
    border:black;
    border-style: dotted;
    
}

section {
    background-color:firebrick;
    width:495px;
    height:100%;
    margin-bottom: 100px; 
    
}

aside {
    background-color: blue;
    height: 100%;
    width: 430px;
    float: left;
    margin-left: 35px;
    

}

article {
    background-color: grey;
    margin:35px, 10px;
      

}


h1 {
    background-color:white;
    padding: 25px;
    margin-left: 40px;
    margin-right: 40px;
   


}

section {
    background-color:white;
    text-align: center;
    
   ;

}

p {
    text-align: center;
    

}

.articleSpecs {
    background-color: pink;
    color: orange;
    padding: 29px;
    margin-left: 40px;
    margin-right: 40px;
    top: -14px;
    position: relative;
    

}

.articleBox {
    background-color: grey;
    margin: 10px;
    padding:10px;
    

}

.footsies {
    background-color: orange;
    color: black;
    height: 65px;
    padding-top: 40px;
    margin-top: 315px;
    margin-bottom: 25px;
    width: 960px;
    right: 468px;
}

.footerContent {
    top:290px;

}

