body {
    font-family: Ariel,Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #777;
    background:#777;
    Width:960px;
    font-size:18px;
    margin: auto;

}header {

    background-color: lightsteelblue;
    height:65px;
    padding-top: 40px;

}

nav {
    background-color: rgb(6, 204, 22);
    height:65px;
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

section {
    float: left;

}


/* Made a div element in order to create a section block */

div {
    background-color: white;
    color:black;
    float:left;
    height: 300px;
    width: 100%;
    /* padding-top: 90px; */
}

section {
    background-color:firebrick;
    width:495px;
    height:100%;
    margin-bottom: 100px; 
}

aside {
    background-color: blue;
    height: 100%;
    width: 430px;
    float: left;
    margin-left: 35px;

}


p {
    text-align: center;
    padding-top:5px;

}